#eachProjectPage{
    background-color: #F8F8F8 !important;
    width: 100vw;
    height: 90vh;
}

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Caveat&display=swap');


.pageTitle{
    font-family: "Caveat";
    font-weight: 700;
    font-size: 5vh;
    text-align: center;
    color: rgba(16,16,16,0.73) !important;
    padding: 1vh;
}

.carousel{
    height: 30vh;
    width: 50vw;
    margin: auto;
}

.carousel-control-next-icon,
.carousel-control-prev-icon{
    margin-top: 16vw !important;
}


.project-description{
    margin: 10vw;
    margin-top: 18vw;
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-areas:
            "front back";
    padding-top: 2vh;
}

.pageTitle2{
    grid-area: front;
    font-family: "Caveat";
    font-weight: 700;
    font-size: 3vh;
    text-align: center;
    color: rgba(16,16,16,0.73) !important;
    padding: 1vh;
}


.frontend {
    grid-area: front;
    width: 30vw;
    font-size: 2.7vh;
    padding: 0.5vh 0 0.5vh 1vw;
    margin-bottom: 0.5vh;
}

.pageTitle3{
    grid-area: back;
    font-family: "Caveat";
    font-weight: 700;
    font-size: 3vh;
    text-align: center;
    color: rgba(16,16,16,0.73) !important;
    padding: 1vh;
}

.backend {
    grid-area: back;
    width: 30vw;
    font-size: 2.7vh;
    padding: 0.5vh 0 0.5vh 1vw;
    margin-bottom: 0.5vh;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


#front{
     font-size: 1.3vw;
     font-family: "Open Sans" !important;
 }

#back{
    font-size: 1.3vw;
    font-family: "Open Sans" !important;
}

.controlButtons{
    padding: 1vw;

}



