#project{
    background-color: lightgray;
    width: 100vw;
    height: 90vh;
}

#projectcard{
    display: flex;
    padding: 3vw;
}

.card{
    width: 25vw;
    height: 70vh;
}

.card-title{
    text-align: center;
}

.card-img{
    padding: .5vw;
}

.breadisgold{
    height: 27vh;
}

.burgerdiner{
    height: 27vh;
}

.allens{
    height: 27vh;
}